<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/student-added" method="POST">
        <label >
            Enter your name:
            <input type="text" name="first_name" required>
            <br>
            Enter your laste name:
            <input type="text" name="last_name" required>
            <br>
            Enter your github:
            <input type="text"  name="github" required>
            <br>
            <br>
            <input type="submit" value="submit yo student!">

        </label>

    </form>

</body>
</html>
